<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.CodeingBoy.RemoveSimpleStatusbar"
    android:versionCode="5"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <meta-data android:value="true" android:name="xposedmodule"/>
        <meta-data android:value="2.0*" android:name="xposedminversion"/>
        <meta-data android:name="xposeddescription" android:value="移除MIUI通知栏上方的状态栏" android:resource="@string/XposedDescription"/>
    </application>

</manifest>
